Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Learn data science tools name
* How they use to data science
* Gain a foundational understanding of tools

Some of the popular languages that Data Scientists use are:

* Python
* R
* Scala
* Julia

Some of the commonly used libraries used by Data Scientists include:

* Numpy
* GGplot
* Matplotlib
* Dployr

Data Science Tools
------------------
 * Jupyter Lite
 * Googlo Colaboratory
 * Anaconda

Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
#This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60

In [7]:
200/60

3.3333333333333335

## Author
Debanjan Shil